

#card-holder{
	
height: 170px;
width: 865px;
/*top: 650px;*/
position: absolute;
/*left: 133px;*/
z-index:50;
	
}


.card{
	width : 170px;
	/*height: 200px;*/
	height: 170px;
	background:url(../img/cards/card.png) no-repeat center center;
	float:left;

	margin-right: 3px;
	
	text-align: center;

	font-family: 'Roboto Condensed', sans-serif;
	font-size: 16px;
	-webkit-transition: -webkit-transform 0.3s ease-in-out;
	-moz-transition: -webkit-transform 0.3s ease-in-out;
	-ms-transition: -webkit-transform 0.3s ease-in-out;
	-o-transition: -webkit-transform 0.3s ease-in-out;
	transition: -webkit-transform 0.3s ease-in-out;
}

.card:hover{
	-webkit-transform: scale(1.1); 
	-moz-transform: scale(1.1); 
	-ms-transform: scale(1.1); 
	-o-transform: scale(1.1); 
}

#game .btn{
	
width: 136px;
height: 157px;
text-indent: -9999em;
/*top: 656px;
left: 998px;*/
right:0px;
position: absolute;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

#game .btn:hover{
	-webkit-transform: scale(1.1); 
	z-index: 51;
}

#dealCards{
	background: url(../img/cards/button-deal.png) no-repeat center center;
}

#playYourHand{
	background: url(../img/cards/button-play.png) no-repeat center center;;
}